.companies{
    background-color: #869C77;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}



.companies h2 {

    text-align: center;
    margin: 10px;
    font-size: 30px;
    margin-bottom: 10px;
} 