.product-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
   


}
.detail-content{
    width: 100%;
    background-color: #869C77;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    color: #FCFBF0;
}

.product-details img{
    width: 40%;
  



}




.detail-content h2{
    width: 100%;
    text-align: end;

  
}


.img-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    
}


.details{

    background-color: #FCFBF0;
    padding-bottom: 20px;
    
}
.detail-content .addBtn{
    background-color: #FCFBF0;
}